.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	transition: background-color var(--transition);

	&.header-scrolling {
		background-color: var(--bg);
	}

	@include t {
		&::before {
			position: absolute;
			z-index: 200;
			background-color: var(--bg);
			transform: translate(100%);
			transition: transform var(--transition);
			inset: 0;
			content: "";
		}

		.menu-active &::before {
			transform: translate(0);
		}
	}

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 110px;
		transition: min-height var(--transition);

		@include container;

		.header-scrolling & {
			min-height: 60px;
		}

		@include m {
			min-height: 90px;
		}
	}

	// .header__logo
	&__logo {
		position: relative;
		z-index: 200;
		display: flex;
		align-items: center;
		column-gap: 12px;
	}

	// .header__img-logo
	&__img-logo {
		@include picture;
	}

	// .header__span-logo
	&__span-logo {
		color: var(--white);
		font-weight: 700;
		font-size: 20px;
		font-family: var(--font-family);
		line-height: 1.2;
		letter-spacing: -0.03em;
	}

	// .header__active
	&__active {
		display: flex;
		align-items: center;
		column-gap: 32px;
	}

	// .header__button
	&__button {
		min-height: 48px;
		color: var(--brand-color);
		font-weight: 700;
		font-size: inherit;
		font-family: var(--font-family);
		background-color: transparent;
		border: 2px solid var(--brand-color);
		border-radius: 64px;
		padding-inline: 32px;
		cursor: pointer;
		transition:
			background-color var(--transition),
			color var(--transition);

		&:hover {
			@media (any-hover) {
				color: var(--white);
				background-color: var(--brand-color);
			}
		}

		@include sm {
			display: none;
		}

		&--menu {
			display: block;

			@media (width >= 574.98px) {
				display: none;
			}
		}
	}
}

// .header__menu
.menu {
	@include t {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 150px 0 30px;
		overflow-y: auto;
		background-color: var(--bg);
		transform: translateX(100%);
		transition: transform var(--transition);
		inset: 0;
	}

	&.menu-active {
		transform: translateX(0);
	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		column-gap: 32px;

		@include list;

		@include t {
			flex-flow: column nowrap;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 30px;
			row-gap: 32px;
		}
	}

	// .menu__link
	&__link {
		@include link;

		position: relative;
		display: inline-block;
		color: var(--white);
		font-weight: 500;
		font-family: var(--font-family);
		padding-block: 12px;
		line-height: 1;
		white-space: nowrap;
		text-transform: capitalize;

		@include hover;

		@include t {
			font-size: 24px;
		}
	}
}

.burger-btn {
	display: none;

	@include t {
		position: relative;
		z-index: 200;
		display: block;
		width: 30px;
		height: 20px;
		background-color: transparent;
		border: 0;

		&:hover {
			@media (any-hover) {
				cursor: pointer;
			}
		}

		span,
		&::before,
		&::after {
			position: absolute;
			right: 0;
			width: 100%;
			height: 2px;
			background-color: var(--brand-color);
			transition: all 0.3s ease 0s;
			content: "";
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - 1px);
		}
	}

	&.menu-active {
		span {
			width: 0;
		}

		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}

		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}
}
