/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.main {
	--padding-block: 64px;

	padding-top: clamp(100px, vwbt(208px), 208px);

	@include m {
		--padding-block: 50px;
	}

	&__banner {
		padding-bottom: clamp(50px, vwc(200px), 200px);
	}

	&__about,
	&__offer,
	&__design,
	&__find,
	&__quote,
	&__faqs {
		padding-block: var(--padding-block);
	}

	&__aplication {
		padding-top: var(--padding-block);
	}
}

.banner {
	// .banner__container
	&__container {
		@include container;

		position: relative;
		display: flex;
		justify-content: space-between;
		column-gap: 32px;

		@include bt {
			flex-direction: column;
			row-gap: 32px;
		}

		&::before {
			position: absolute;
			top: 61px;
			left: 60px;
			width: 359px;
			height: 110px;
			background: url("../img/banner/banner-decor.svg") 0 0 no-repeat;
			content: "";

			@include t {
				display: none;
			}
		}
	}

	// .banner__text-block
	&__text-block {
		display: flex;
		flex-basis: 45%;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 32px;

		@include bt {
			flex-basis: auto;
		}
	}

	// .banner__title
	&__title {
		@include margin-block;

		color: var(--white);
		font-weight: 700;
		font-size: clamp(38px, vwt(56px), 56px);
		line-height: 1.14;
		letter-spacing: -0.025em;

		@include bt {
			max-width: 70vw;
		}

		@include t {
			max-width: 80vw;
		}

		@include m {
			max-width: 100vw;
		}
	}

	// .banner__text
	&__text {
		@include margin-block;

		max-width: 498px;
	}

	// .banner__button
	&__button {
		&::after {
			display: none;
		}
	}

	// .banner__img-card
	&__img-card {
		display: none;
		align-self: flex-end;
		backdrop-filter: blur(75px);

		@media (width <= 767.98px) {
			@include picture;
		}
	}
}

.users-banner {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	max-width: 313px;
	column-gap: 16px;

	// .users-banner__block-img
	&__block-img {
		display: flex;
		grid-row: 1/3;
		grid-column: 1/2;
	}

	// .users-banner__img
	&__img {
		width: 48px;
		aspect-ratio: 1;

		&:not(:first-child) {
			margin-left: -13px;
		}
	}

	// .users-banner__number
	&__number {
		grid-row: 1/2;
		grid-column: 2/3;
		color: var(--white);
		font-weight: 700;
	}

	// .users-banner__text
	&__text {
		grid-row: 2/3;
		grid-column: 2/3;
		font-size: 12px;
	}
}

// ? banner end

.about {
	// .about__container
	&__container {
		@include container;
	}

	// .about__list
	&__list {
		@include list;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: clamp(12px, vwt(32px), 32px);
		justify-content: space-between;
		padding: clamp(12px, vwc(64px), 64px);
		background-color: #3d544d3d;
		border-radius: 32px;
		backdrop-filter: blur(16px);

		@include m {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			max-width: 100%;
			margin: 0 auto;
		}

		@include xsm {
			grid-template-columns: 1fr;
		}
	}

	// .about__span-list
	&__span-list {
		display: block;
		margin-bottom: 8px;
		color: var(--white);
		font-weight: 700;
		font-size: clamp(28px, vwt(48px), 48px);
		line-height: 1.17;
		letter-spacing: -0.01em;
		text-align: center;
	}

	// .about__title-list
	&__title-list {
		@include margin-block;

		color: var(--brand-color);
		font-weight: 500;
		font-size: inherit;
		text-align: center;
	}
}

.slider {
	// .slider__container
	&__container {
		@include container;

		position: relative;
		min-height: 32px;
	}

	// .slider__list
	&__list {
		@include list;

		padding-block: 64px;
		display: flex;
		gap: 32px;
		align-items: center;
		justify-content: space-between;
		min-height: 32px;
		overflow-x: auto;

		@include m {
			padding-block: 50px;
		}
	}

	// .slider__li
	&__li {
		flex-shrink: 0;
	}

	// .slider__img
	&__img {
		@include picture;
	}
}

.offer {
	// .offer__container
	&__container {
		@include container;
	}

	// .offer__title
	&__title {
		margin-bottom: 64px;
		text-align: center;
	}

	// .offer__list
	&__list {
		@include list;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
		gap: 32px;
		justify-items: center;

		@include sm {
			grid-template-columns: 1fr;
		}
	}

	// .offer__li
	&__li {
		display: grid;
		grid-template-columns: 64px 1fr;
		column-gap: 24px;

		@include sm {
			grid-template-columns: 1fr;
			justify-items: center;
			row-gap: 16px;
		}

		&::before {
			grid-row: 1/3;
			grid-column: 1/2;
			width: 64px;
			height: 64px;
			background-color: #3d544d;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 26px;
			border-radius: 24px;
			content: "";

			@include sm {
				grid-row: 1/2;
			}
		}

		&--security {
			&::before {
				background-image: url("../img/offer/list-icon/security.svg");
			}
		}

		&--pie {
			&::before {
				background-image: url("../img/offer/list-icon/pie.svg");
			}
		}

		&--rectangle {
			&::before {
				background-image: url("../img/offer/list-icon/rectangle.svg");
			}
		}
	}

	// .offer__title-list
	&__title-list {
		@include margin-block;

		grid-row: 1/2;
		grid-column: 2/3;
		margin-bottom: 8px;
		color: var(--white);
		font-weight: 500;
		font-size: 24px;

		@include sm {
			grid-row: 2/3;
			grid-column: 1/2;
			margin-bottom: 0;
			text-align: center;
		}
	}

	// .offer__text-list
	&__text-list {
		grid-row: 2/3;
		grid-column: 2/3;

		@include sm {
			grid-row: 3/4;
			grid-column: 1/2;
			text-align: center;
		}
	}
}

.design {
	// .design__container
	&__container {
		@include container;

		position: relative;
		display: flex;
		justify-content: space-between;
		min-height: 520px;
		column-gap: 32px;

		&::before {
			position: absolute;
			right: 35%;
			bottom: 10%;
			width: 280;
			background: url("../img/icon/star.svg") 0 0 no-repeat;
			transform: rotate(-24deg);
			aspect-ratio: 1;
			content: "";

			@include t {
				display: none;
			}
		}

		@include m {
			flex-direction: column;
			row-gap: 32px;
			align-items: center;
		}
	}

	// .design__text-block
	&__text-block {
		position: relative;
		display: flex;
		flex-basis: 604px;
		flex-direction: column;
		row-gap: 24px;
		align-items: flex-start;
		align-self: center;

		@include m {
			flex-basis: auto;
		}
	}

	// .design__text
	&__text {
		@include margin-block;
	}

	// .design__card-block
	&__block-card {
		position: relative;
		flex: 0 0 551px;
		align-self: flex-end;
		min-height: 348px;
		transform-style: preserve-3d;
		perspective: 1000px;

		@include m {
			align-self: center;
		}

		@include canvas {
			flex: 0 1 auto;
		}
	}

	// .design__button
	&__button {
		&::after {
			display: none;
		}
	}

	// .design__img
	&__img {
		display: none;

		@include canvas {
			@include picture;
		}
	}
}

.find {
	// .find__container
	&__container {
		@include container;

		position: relative;
		display: flex;
		justify-content: space-between;
		column-gap: 32px;

		&::before {
			position: absolute;
			bottom: 5%;
			left: 30%;
			width: 280;
			background: url("../img/icon/star.svg") 0 0 no-repeat;
			transform: rotate(-24deg);
			aspect-ratio: 1;
			content: "";

			@include t {
				display: none;
			}
		}

		@include m {
			flex-direction: column-reverse;
			row-gap: 32px;
			align-items: center;
		}
	}

	// .find__card-block
	&__block-card {
		position: relative;
		flex-basis: 551px;
		transform-style: preserve-3d;
		perspective: 1000px;

		@include m {
			flex-basis: auto;
		}

		/* stylelint-disable-next-line selector-class-pattern */
		&:hover .card--find-block {
			@media (any-hover) {
				animation-play-state: running;
			}
		}
	}

	// .find__img
	&__img {
		display: none;

		@include canvas {
			@include picture;
		}
	}

	// .find__text-block
	&__text-block {
		display: flex;
		flex-basis: 604px;
		flex-direction: column;
		row-gap: 24px;
		align-items: flex-start;
		justify-content: center;

		@include m {
			flex-basis: auto;
		}
	}

	// .find__text
	&__text {
		@include margin-block;
	}

	// .find__button
	&__button {
		padding-right: 32px;
		text-decoration: none;
		border: 2px solid transparent;
		transition: all var(--transition);

		&::before {
			display: none;
		}

		&:hover {
			@media (any-hover) {
				background-color: var(--bg);
				border: 2px solid var(--brand-color);
			}
		}
	}
}

.quote {
	&__container {
		@include container;
	}

	// .quote__list
	&__list {
		@include list;

		box-sizing: border-box;
	}

	// .quote__li
	&__li {
		display: grid;
		height: auto;
		padding: 48px 24px;
		row-gap: 32px;
		background: #27322f3d;
		border-radius: 32px;
		backdrop-filter: blur(16px);

		&::before {
			width: 56px;
			aspect-ratio: 1;
			background-color: #3d544d;
			background-image: url("../img/icon/quote.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 19px 17px;
			border-radius: 50%;
			content: "";
		}
	}

	// .quote__text
	&__text {
		flex-shrink: 1;
		margin: 0;
	}

	// .quote__author
	&__author {
		display: grid;
		grid-template-columns: 48px 1fr;
		column-gap: 8px;
	}

	// .quote__avatar
	&__avatar {
		grid-row: 1/3;
		grid-column: 1/2;
	}

	// .quote__name
	&__name {
		grid-row: 1/2;
		grid-column: 2/3;
	}

	// .quote__work
	&__work {
		grid-row: 2/3;
		grid-column: 2/3;
	}
}

.swiper-pagination-bullet {
	background-color: var(--brand-color);
}

.faqs {
	// .faqs__container
	&__container {
		@include container;

		max-width: 1020px;
	}

	// .faqs__title
	&__title {
		margin-bottom: clamp(32px, vwt(64px), 64px);
		text-align: center;
	}

	// .faqs__list
	&__list {
		@include list;
	}
}

.aplication {
	// .aplication__container
	&__container {
		@include container;

		position: relative;
		display: flex;
		gap: 32px;
		overflow: hidden;

		@include m {
			flex-direction: column;
		}
	}

	// .aplication__text-block
	&__text-block {
		flex-basis: 604px;
		padding-block: clamp(50px, vwc(110px), 110px);

		@include m {
			flex-basis: auto;
			padding-block: 0;
		}
	}

	// .aplication__title
	&__title {
		@include margin-block;

		margin-bottom: 20px;
		color: var(--white);
		font-weight: 700;
		font-size: clamp(34px, vwt(48px), 48px);
		line-height: 1.17;
		letter-spacing: -0.01em;
	}

	// .aplication__text
	&__text {
		@include margin-block;

		margin-bottom: 32px;
		font-size: 18px;
	}

	// .aplication__button-block
	&__button-block {
		@include list;

		display: flex;
		column-gap: 24px;
	}

	// .aplication__item-button
	&__item-button {
		display: flex;
		align-items: center;
		background-color: #3d544d;
		border-radius: 16px;
		transition: background-color var(--transition);

		&:hover {
			@media (any-hover) {
				background-color: var(--brand-color);
			}
		}
	}

	// .aplication__link
	&__link {
		@include link;

		padding: 16px;
		color: var(--white);
	}

	// .aplication__svg
	&__svg {
		@include picture;
	}

	// .aplication__img-block
	&__img-block {
		position: absolute;
		top: 0;
		right: var(--padding-inline);
		width: 40%;

		@include t {
			position: relative;
			top: auto;
			right: auto;
			width: 48.7%;
		}

		@include sm {
			width: 70%;
		}

		@include m {
			align-self: center;
		}
	}

	// .aplication__img
	&__img {
		@include picture;
	}
}
