:root {
	--white: #fff;
	--text-color: #adb2b1;
	--brand-color: #2bb32a;
	--bg: #151d16;
	--font-family: "MPLUS1";
	--padding-inline: 70px;
	--transition: 0.3s;

	@include bt {
		--padding-inline: 32px;
	}

	@include m {
		--padding-inline: 16px;
	}
}

html {
	scroll-padding-top: 60px;
}

.body {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: clip;
	color: var(--text-color);
	font-weight: 400;
	font-size: 16px;
	font-family: var(--font-family), sans-serif;
	line-height: 1.5;
	background-image: image-set(
		url("../img/site_bg.jpg?as=avif") type("image/avif"),
		url("../img/site_bg.jpg?as=webp") type("image/webp"),
		url("../img/site_bg.jpg")
	);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	border: 0;

	&.menu-active {
		overflow-y: hidden;

		// padding-right: 10px;
	}
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(100%) !important;
}

/* 
запобігти скачку контента при появі полоси прокрутки
.body { padding: 0 calc(20px - (100vw - 100%)) 0 0; }
*/
