:root {
	--white: #fff;
	--text-color: #adb2b1;
	--brand-color: #2bb32a;
	--bg: #151d16;
	--font-family: "MPLUS1";
	--font-family-code: "MPLUS1-code";
	--padding-inline: 70px;
	--transition: 0.3s;

	@include canvas {
		--padding-inline: 32px;
	}

	@include m {
		--padding-inline: 16px;
	}
}

html {
	scroll-padding-top: 60px;
}

.body {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: clip;
	color: var(--text-color);
	font-weight: 400;
	font-size: 16px;
	font-family: var(--font-family), sans-serif;
	line-height: 1.5;
	background-color: #1a1e1c;
	border: 0;

	//  для firefox
	scrollbar-width: thin; /* Може бути auto, thin або none */
	scrollbar-color: var(--brand-color) var(--bg);

	&.menu-active {
		overflow-y: hidden;

		// padding-right: 10px;
	}

	&::before {
		position: absolute;
		z-index: -1;
		inset: 0;
		width: 100%;
		height: 100%;
		background-image: image-set(
			url("../img/site_bg.jpg?as=avif") type("image/avif"),
			url("../img/site_bg.jpg?as=webp") type("image/webp"),
			url("../img/site_bg.jpg")
		);
		background-repeat: no-repeat;
		background-position: center -150px;
		background-size: cover;
		content: "";

		@include t {
			display: none;
		}
	}
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(100%) !important;
}

/* Загальний стиль для всіх веб-кіт браузерів */
::-webkit-scrollbar {
	width: 7px;
	height: 4px; /* Ширина смужки прокрутки */

	@include m {
		width: 4px;
	}
}

::-webkit-scrollbar-track {
	background: var(--bg); /* Колір треку */
}

::-webkit-scrollbar-thumb {
	background-color: var(--brand-color); /* Колір смужки прокрутки */
	border: none; /* Простір між смужкою і треком  */
	border-radius: 10px; /* Округлені краї смужки прокрутки */
}

// /* Додатковий стиль для окремих частин смужки */
.scrollbar {
	scrollbar-color: var(--brand-color) var(--bg);
	scrollbar-width: thin;
}

// ::-webkit-scrollbar-thumb:hover {
// 	background-color: var(--brand-color); /* Колір смужки при наведенні */
// }

/* 
запобігти скачку контента при появі полоси прокрутки
.body { padding: 0 calc(20px - (100vw - 100%)) 0 0; }
*/
